# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# gitignore

node_modules

# Only apps should have lockfiles
yarn.lock
package-lock.json

dist
!docs/*/dist

.idea

.cache

.vscode

build

doc